body  {
  display: flex;
  background-repeat: repeat;
  background-color: rgb(28, 28, 28);
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

*{
  font-family: 'Courier New', Courier, monospace;
}



body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
}

/* Make the canvas fill the entire page */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Style the scoreboard */
#scoreboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.292);
  border-radius: 10px;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 999999999;
}
#scoreboard button {
  margin-bottom: 5px;
  color: white;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.219);
  border: 1px solid white;
  border-radius: 5px;
}

#scoreboard button:hover {
  background-color: rgba(0, 0, 0, 0.864);
}
#scoreboard button:last-child:hover {
  border: 1px solid rgb(116, 255, 227);
}
#timer {
  font-size: 2em; /* Increase the font size */
  color: red; /* Change the color to red */
  text-align: center; /* Center the text */
  margin-top: 20px; /* Add some margin at the top */
}
@keyframes winner-animation {
  0% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
  100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

#winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
  padding: 10px;
  display: none;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.262);
}

.animate-winner {
  animation: winner-animation 5s;
}